target
target/*
logs
www/www-app/*/src/main/webapp/gwt
www/*/src/main/webapp/gwt
*cache.htm
*cache.html
*cache.xml
*.swp
.classpath
.settings
.project
.idea
.wtpmodules
.wtpmodules
.*.jsfdia
*.iml
*.ipr
*.iws
.rpminfo
.rpminfo/*
*~
*.log
*.log.*
mf.pom.xml
.idea
bin
bin/*
*.bak
util/nb-configuration.xml
nb-configuration.xml
metadata/nb-configuration.xml
